{% extends 'shared/base.html' %}


{% block content %}
    <div class="container" style="width: 60%">
        <div class="jumbotron parent">
            <div style=
            "margin-top: -50px;
            margin-left: 115px;
            width: 95%;"
            >
                <img   src="https://s.tmimgcdn.com/scr/800x500/212900/spoon-and-fork-restaurant-logo_212966-original.png" alt="" style="width: 65%">
        </div>
              <form method="post" style=
                       " border: 1px solid grey;
                        margin: auto;
                        padding: 5% 5%;
                        border-radius: 10px;
                        text-align: center;
                        width: 50%;" >
                <h2>Sign up</h2>
                  <hr>
                {% csrf_token %}
                {{ form }}
                  <hr>
                <button class="btn btn-primary" type="submit" style="margin: 10px">Sign up</button>
{#                <span>Have an account?<a href="{% url 'log in user' %}" style="color:orange">Sign in here</a></span>#}
              </form>
        </div>
    </div>
{% endblock %}