{% extends 'shared/base.html' %}

{% block content %}
         <div class="container" style="width: 50%">
            <div class="jumbotron parent">
                <div style=
                "margin-top: -50px;
                margin-left: 155px;
                width: 50%;
                padding-bottom: 20px;"
                >
                    <img src="https://static.thenounproject.com/png/2675922-200.png" alt="" style="width: 65%">
            </div>
            <form method="post" class="furniture-form" action="{% url 'add product' %}" enctype="multipart/form-data" style=
                "border: 1px solid grey;
                 margin: auto;
                 padding: 5% 5%;
                 border-radius: 10px;
                 text-align: center;
                 width: 70%">
                <h2>Add Product</h2>
                <hr>
                {% csrf_token %}
                {% for item in form %}
                    <div class="fieldWrapper">
                        {{ item.label }} {{ item }}
                        {% if item.help_text %}
                            {{ item.help_text|safe }}
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <hr>
                <button class="btn btn-primary mt-2" type="submit">Add</button>
            </form>
        </div>
    </div>
{% endblock %}